# 1. Sécurité : Ne jamais envoyer de clés API / tokens sur internet
.env

# 2. Environnement virtuel
venv/

# 3. Données & Logs
data/
logs/
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/.user.yml
*.user.yml

# 4. Caches & Fichiers de préparation personnels
__pycache__/
*.pyc
MANUEL_UTILISATION.md
INTERVIEW_PREP_DIFFICULTIES.md